* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.user {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;

}

/* icon header */
.fa-bell,
.fa-user {
    font-size: 30px;
    margin-right: 2%;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.conteneur1 {
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.nav {
    /* border: 3px solid green; */
    width: 20%;
    /* height: 99%; */
    position: relative;
}

.conteneur2 {
    /* border: 3px dashed violet; */
    width: 80%;
    background-color: #c9e4ed;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entete {
    /* border: 3px solid blue; */
    background-color: white;
    /* margin-left: 1%; */
    width: 99%;
    height: 50px;
    padding: 0%;
}

.conteneur3 {
    /* border: 3px solid greenyellow; */
    width: 100%;
    /* height: 100vh; */
}

/* login */


.login-header {
    text-align: center;
    margin: 15px 0 40px 0;
}

.login-header header img {
    width: 340px;
    margin-bottom: 10px;
}

.input-box .input-field {
    width: 100%;
    height: 40px;
    font-size: 17px;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0.5px solid #8f8a8a;
    outline: none;
    transition: .3s;
    color: #8f8a8a;
}

#input-box1 {
    margin-bottom: 25px;
}

.forgot a {
    color: #8f8a8a;

}

#btnConnexion{
    color: #fff;
    font-size: 20px;
}

.submit-btn {
    width: 100%;
    height: 40px;
    background-color: #3697ab;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
}

.submit-btn :hover {
    background-color: #fff;
    border: 2px solid #3697ab;
    color: #3697ab;
}

.submit-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

/* ----------------------- */

.loginOut {
    width: 100%;
    position: absolute;
    bottom: 0;
}

li {
    margin-top: 2%;
    font-size: 20px;
    height: 3rem;
    border-radius: 20px;
}

li:hover {
    background-color: #c9e4ed;
}

li a:hover {
    color: #fff;
}

li span {
    margin-left: 2%;
}

a {
    margin-top: 2rem;
    text-decoration: none;
    margin-left: 2%;
}

/* ====================== GRAPHES CHART =============================== */
/* ------------------circle barre */
.graphe {
    margin-top: 10%;
    margin-left: 10%;
    /* border: 2px solid red; */
    max-width: 1440px;
    width: 99%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    justify-content: space-evenly;
}

.positif {
    border: 2px solid white;
    width: 15rem;
    height: 20rem;
    border-radius: 5%;
    background-color: #1898A8;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.negatif {
    border: 2px solid #1898A8;
    width: 15rem;
    height: 20rem;
    border-radius: 5%;
    background-color: white;
    position: relative;
    margin-left: 20%;
}


.pourcentage1 {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: white;
    left: 6rem;
    top: 14rem;

}

.pourcentage2 {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    left: 40%;
    top: 70%;
}

/* ------------------barre------------------------------ */

.graph {
    margin-left: 5%;
    margin-top: 5%;
}

h1 {}

.graphe-content {
    /*  border: 2px solid yellow; */
    /* margin-top: 10%; */
    /* max-width: 1440px; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
}

#analyse-mois h1 {
    margin-bottom: 2%;
}

/* ====================fature============= */

.bill {
    background-color: #fff;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 80vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding: 2% 15px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

.tableheight td {
    border: 1px solid;
    font-size: 20px;
    color: #8f8a8a;
    border-left: none;
    font-weight: bold;
    width: 5%;
}

.tableheight thead tr {
    height: 4rem;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    background-color: #1698a8;
}

.tableheight thead tr:hover {
    cursor: pointer;
}

.tableheight tbody tr:hover {
    color: #1b8494;
    background-color: #eceaea;
}

.tableheight tbody tr td:hover {
    color: #1b8494;
}

.fa-arrow-down-a-z {
    font-size: 20px;
}

/*===== titre des tableau ==========*/

.titre {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    color: #8f8a8a;
    ;
}

.titre h1 {
    font-size: 64px;
    font-weight: bold;
}

.titre input {
    width: 15%;
    border-radius: 5px;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: #eceaea;
}

.titre input:focus {
    outline: 2px solid #adb745;
}

.tableheight {
    min-height: 60vh;
}

.heigthAuto {
    height: auto;
}


.button {
    background-color: #1698a8;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100px;
    padding: 5px;
    font-size: 100%;
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: #1b8494;
    border: 2px solid #1b8494;
}

.button:active {
    background-color: #1b8494;
    ;
    color: white;
    border: 2px solid white;
}

/* ================SERVICE CLIENT ============= */
.service {
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 80vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding: 2% 15px;
}

.sj {
    color: #968989;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.envoie {
    width: 90%;
    background-color: #1698a8;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 2%;
}

.textarea {
    background-color: #eceaea;
    border: none;
    border-radius: 10px;
    margin-top: 1%;
    width: 90%;
    height: 35rem;
}

.label2 {
    color: #968989;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;


}

.sujet {
    width: 90%;
    background-color: #eceaea;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1%;
}

/* ========================= suivi detaillé ====================== */
.bande {
    /*border: 1px solid;*/
    width: 50%;
    height: 150px;
    background-image: linear-gradient(to right, green, darkorange, red);

}

/* ===========================PARAMETRE DU COMPTE=========================================== */

.retour {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.retour a {
    color: #adb745;
    font-size: 20px;
}

.retour button {
    height: 3rem;
    width: 15rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
}

.retour #btnPass {
    background-color: #1b8494;
    border: 2px solid #1b8494;
}

.retour #btnPass:hover {
    background-color: white;
    color: #1b8494;
}

.retour #btnPass:active {
    background-color: #1b8494;
    color: white;
}

.retour #btnDel {
    background-color: #fd3324;
}

.retour #btnDel:hover {
    background-color: white;
    color: #fd3324;
    border: 2px solid #fd3324;
}

.retour #btnDel:active {
    background-color: #fd3324;
    color: white;
    border: 2px solid #fd3324;
}

.editProfil {
    /* border: 2px solid red; */
    margin-top: 10%;
    display: flex;
}

.bibliographe {
    /* border: 2px solid blue; */
    width: 70%;
    padding: 1%;
}

.bibliographe h2 {
    text-align: left;
}

.avatar {
    width: 30%;
    padding: 1%;
}

.avatar h2 {
    text-align: left;
}

.divBtnAvatar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}

.divBtnAvatar button {
    height: 3rem;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;

}

.divBtnAvatar #editAvatar {
    background-color: #1b8494;
    color: white;
}

.divBtnAvatar #editAvatar:hover {
    background-color: white;
    color: #1b8494;
    border: 2px solid #1b8494;
}

.divBtnAvatar #editAvatar:active {
    background-color: #1b8494;
    color: white;
    border: 2px solid #1b8494;
}

.divBtnAvatar #delAvatar {
    background-color: #fd3324;
    color: white;
    margin-top: 2%;
}

.divBtnAvatar #delAvatar:hover {
    background-color: white;
    color: #fd3324;
    border: 2px solid #fd3324;
}

.divBtnAvatar #delAvatar:active {
    background-color: #fd3324;
    color: white;
    border: 2px solid #fd3324;
}

.avatar img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 2px solid #adb745;
}

form label {
    font-size: 30px;
    width: fit-content;
    margin-left: 1%;

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

form input {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    background-color: #eceaea;
    border: none;
    padding: 1%;
}

form input:focus {
    outline: 2px solid #adb745;

}

form textarea {
    background-color: #eceaea;
    border-radius: 5px;
    border: none;
    padding: 1%;
}

form textarea:focus {
    outline: 2px solid #adb745;
}

form button {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 3rem;
    border-radius: 5px;
    background-color: #1b8494;
    border: none;
    font-size: 30px;
    color: white;
}

form button:hover {
    background-color: white;
    color: #1b8494;
    border: 2px solid #1b8494;
}

form button:active {
    background-color: #1b8494;
    color: white;
    border: 2px solid #1b8494;
}

/* ================BOITE DE CONFIRMATION DE MOT DE PASSE MODIFIEÉ ============= */
.confirmEditPass {
    border: 2px solid #17a2b2;
    border-radius: 3.5%;
    width: 30rem;
    height: 30rem;
    position: absolute;
    margin-left: 30rem;
    margin-top: 10rem;
    z-index: 9999;
    background-color: #fff;
    overflow: hidden;

}

.confirmEditPass h2 {
    background-color: #1b8494;

    color: white;
    padding: 2%;
    text-align: center;
    font-size: 32px;
}

.confirmEditPass form {
    padding: 2%;
}

.confirmEditPass form label {
    margin-top: 1rem;
}

.confirmEditPass form button {
    margin-top: 8% !important;
}

/* ======================== BOITE DE NOTIFICATION DE CONNEXION =============================== */
.notification {
    border: 2px solid #1b8494;
    width: 30%;
    height: 10%;
    position: absolute;
    top: 0;
    margin-top: 2%;
    margin-left: 20%;
    z-index: 600;
    border-radius: 5px;
    overflow: hidden;
    animation: notification 1s;
}

@keyframes notification {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

/* =====================NOTIFICATION DE CONNEXION ======================================= */
.notification h2 {
    color: white;
    background-color: #1b8494;
    text-align: center;
    padding: 1%;
    font-size: 32px;
}

.notification p {
    font-size: 20px;
    margin-top: 3%;
    text-align: center;
    color: #adb745;
    font-weight: bold;
    padding: 1%;
}

/* ==========================NOTIFICATION DE DEBLOCKAGE ================================ */
.timer {
    width: 20rem;
    height: 7rem;
    border: 2px solid #1b8494;
    position: absolute;
    z-index: 400;
    top: 0;
    margin-left: 30rem;
    margin-top: 2rem;
    border-radius: 15px;
    overflow: hidden;
}

.timer h2 {
    text-align: center;
    background-color: #1b8494;
    color: white;
    padding: 1%;
}

.timer p {
    color: #adb745;
    text-align: center;
    font-size: 32px;
    padding: 8%;
    font-weight: bold;
}

/* =====================================SUIVI DETAILLE ============================================= */
.sizing {
    width: 99%;
}

.sizing thead {
    font-size: 25px;
    height: 2rem;
}

.sizing th {
    font-size: 16px;
    height: 2rem;
}

h4 {
    font-size: 32px;
    width: fit-content;
}

.divTables {
    overflow: auto;
    height: 80vh;
}

.divTables img {
    text-align: justify !important;
}

.divTables table {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* ============image avatr ============= */
.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#logo-side {
    width: 100%;
}

ul {
    list-style: none;
}

.graphe h1,
#analyse-mois h1 {
    color: #8f8a8a;
}

/* ===============les media queries ================== */

@media screen and (max-width: 600px) {

    body {
        overflow-y: scroll;
    }

    li span {
        display: none;
    }

    ul {
        margin-left: 20%
    }

    .graphe,
    .negatif {
        margin-left: 0%;
    }

    .conteneur1 {
        height: 100%;
        overflow: scroll;
    }

    .graphe-content {
        grid-template-columns: repeat(auto-fill, 100%)
    }

    .divTable {
        overflow-x: scroll;
    }

    .divTable th {
        font-size: medium;
    }

    .titre {
        display: block;
    }

    .titre input {
        width: 100%;
    }

    .titre h1 {
        font-size: 32px;
    }

    /* =============paramètre ============== */

    .retour,
    .editProfil {
        display: block;
    }

    .bibliographe,
    .avatar {
        width: 100%;
    }

    #btnPass,
    #btnDel {
        margin-top: 2%;
    }

    .confirmEditPass {
        margin-left: 0rem;
        width: 20rem;
        height: 24rem;
        font-size: medium;
    }

    .confirmEditPass label,
    .confirmEditPass h2 {
        font-size: medium;
    }

    .notification {
        width: 50%;
        height: 10%;
    }

    .notification h2,
    .notification p {
        font-size: small;
    }

    .conteneur3 {
        overflow-y: scroll;
    }

    .timer{
        margin-left: 0%;
    }
}

@media screen and (max-width: 630px) and (min-width: 601px) {
    .conteneur3 {
        overflow-y: scroll;
    }

    .timer{
        margin-left: 0%;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    

    .retour div {
        display: flex;
        flex-direction: column;
    }

    #btnPass,
    #btnDel {
        margin-top: 2%;
    }

    #editAvatar,
    #delAvatar {
        font-size: medium;
    }

    .confirmEditPass {
        margin-left: 3rem;
    }

    .notification {
        width: 50%;
        height: 10%;
    }

    .notification h2,
    .notification p {
        font-size: medium;
    }

    .avatar {
        width: 60%;
        padding: 1%;
    }

    /* ===========les tables ========== */
    .divTable {
        overflow-x: scroll;
    }

    .divTable th {
        font-size: medium;
    }

    .titre {
        display: block;
    }

    .titre input {
        width: 60%;
    }

    .titre h1 {
        font-size: 32px;
    }

    /* ================Dashboard ================ */
    .graphe,
    .negatif {
        margin-left: 0%;
    }

    .graphe-content {
        grid-template-columns: repeat(auto-fill, 100%)
    }

    #analyse-mois {
        margin-top: 5%;
    }

    #analyse-mois h1 {
        margin-bottom: 5%;
    }


    .timer{
        margin-left: 0%;
    }

}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    .graphe {
        margin-left: 0%;
        width: 90%;
    }

    .negatif {
        margin-left: 0%;
    }

    .graphe-content {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    /*============ les table=========== */
    .titre input {
        width: 60%;
    }

    .titre h1 {
        font-size: 32px;
    }

    .divTable th {
        font-size: medium;
    }


    .timer{
        margin-left: 0%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .graphe-content {
        grid-template-columns: repeat(auto-fill, 70%);
    }
    #divModifierPass{
        margin-left: 10rem;
    }
    .notification {
        width: 30%;
        height: 10%;
    }

    .notification h2,
    .notification p {
        font-size: medium;
    }


    .timer{
        margin-left: 0%;
    }

}

@media screen and (max-width: 1440px){
    .conteneur3 {
        overflow-y: scroll;
    }

    .divTable th {
        font-size: medium;
    }
    .titre h1 {
        font-size: 32px;
        padding: 2%
    }
}